@import '../../assets/base.css';

.mainContainer {
  box-sizing: content-box;
  display: flex;
  padding: 2em;
  text-align: center;
  background-color: var(--yellow-container);
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 5px 5px var(--orange);
}

.mainContainer:hover {
  box-shadow: 0 0;
  transition: box-shadow 0.1s ease;
}

.mainContainer {
  position: relative;
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

h1 {
  font-size: medium;
  margin-bottom: 0;
}

span {
  font-size: small;
  font-weight: light;
}
