@import '../../assets/base.css';

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: 5em;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  max-width: 700px;
  row-gap: 2em;
  column-gap: 2em;
}
