@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DM_Sans/static/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DM_Sans/static/DMSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DM_Sans/static/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DM_Sans/static/DMSans-Light.ttf') format('truetype');
  font-weight: lighter;
}

html,
body,
#root {
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'DM Sans';

  background-color: oklch(98.7% 0.022 95.277);
  z-index: -1;
  overflow: hidden;
}
