@import './base.css';
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DM_Sans/static/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DM_Sans/static/DMSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DM_Sans/static/DMSans-Medium.ttf') format('truetype');
  font-weight: medium;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DM_Sans/static/DMSans-Light.ttf') format('truetype');
  font-weight: light;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body,
#root {
  box-sizing: border-box;
  padding: 20px;
  font-family: 'DM Sans';
}
body {
  background-color: var(--light-blue);
}

main {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
