@import url('../../assets/base.css');

.mainContainer {
  display: flex;

  background-color: white;

  gap: 2rem;

  box-shadow: 0px 0px 0.125rem var(--light-gray);
  box-sizing: border-box;

  z-index: 2;

  width: 100%;
  height: 100%;

  max-width: 100%;

  overflow: hidden;

  padding-right: 1rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  width: 40%;

  gap: 0.25rem;

  box-shadow: 0px 0px 0.25rem var(--light-gray);
  border-radius: 0.25rem;
}

.searchBar {
  display: flex;

  padding: 1rem;

  box-sizing: border-box;
  box-shadow: 1px 1px 3px var(--light-gray);

  gap: 1.25rem;

  align-items: center;
  justify-content: center;
}

.searchInput2 {
  width: 80%;
}

.searchIconContainer {
  display: flex;

  height: 100%;

  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 0.125rem var(--light-gray);

  box-sizing: border-box;

  padding: 0.4rem 0.75rem;

  border-radius: 0.25rem;

  cursor: pointer;
}

.searchIconContainer:hover {
  background-color: var(--light-gray-2);

  transition: background-color 0.15s ease-in;
}

.mapContainer {
  position: relative;

  width: 60%;
  padding: 0 0;
}

.itemsContainer {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.25rem;
  height: 85%;
  max-height: 85%;

  overflow-y: scroll;
}

.notFoundContainer {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.notFoundContent {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  font-size: large;
  font-weight: 500;
}

.item {
  display: flex;

  width: 100%;
  box-shadow: 1px 1px 2px var(--light-gray);

  cursor: pointer;
}

.item:hover {
  background-color: var(--light-gray-2);

  transition: background-color 0.15s ease-in;
}

.itemContent {
  display: flex;
  flex-direction: column;

  padding: 0.5rem 0.5rem;
  gap: 0.25rem;

  font-family: 'DM Sans';
}

.codes {
  display: flex;
  font-family: 'DM Sans';

  font-weight: 500;

  gap: 0.5rem;
}
